#item{
   width: 500px;
   margin: 40px auto;
   position: relative;
}
.btn_show{
   position: absolute;
   top: 480px; left: 20px;
}
.text{width: 400px; line-height: 1.5;
      text-align: justify; display: none;}